@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.header_right--side {
  display: flex;
  gap: 30px;
}
.header_right--side--part {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header_right--side--part svg {
  transition: 0.5s;
}
.header_right--side--part:hover {
  cursor: pointer;
}
.header_right--side--part:hover svg path {
  fill: #2196f3;
  transition: 0.5s;
}
.header_right--side--part:hover a {
  color: #2196f3;
}
.header_right--mobile--menu {
  display: none;
}
.header_right--mobile--menu--list--wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(33, 150, 243, 0.9019607843);
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
.header_right--mobile--menu--list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  color: beige;
  font-size: 20px;
}
.header_right--mobile--menu--list a {
  color: beige;
}
.header_right--link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  transition: 0.5s;
  color: #757575;
}
.header_right--link:hover {
  transition: 0.5s;
  color: #2196f3;
}
.header_right--link:first-child {
  margin-right: 50px;
}
.header_left--side {
  display: flex;
}
.header_left--image {
  margin-right: 93px;
}
.header_navigation {
  display: flex;
  align-items: center;
}
.header_navigation--items {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  transition: 0.5s;
}
.header_navigation--items:not(:last-child) {
  margin-right: 50px;
}
.header_navigation--items:nth-child(2) {
  position: relative;
  color: #2196F3;
}
.header_navigation--items:nth-child(2)::after {
  content: "";
  width: 72px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  display: block;
  top: 41px;
  position: absolute;
}
.header_navigation--items a {
  transition: 0.5s;
}
.header_navigation--items a:hover {
  transition: 0.5s;
  color: #2196f3;
}

@media screen and (max-width: 915px) {
  .header_right--side {
    flex-direction: column;
    gap: 10px;
  }
  .header_container {
    align-items: center;
  }
}
@media screen and (max-width: 750px) {
  .header_left--side {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 500px) {
  .header_navigation, .header_right--side--part {
    display: none;
  }
  .header_right--mobile--menu {
    display: block;
    cursor: pointer;
  }
}
.main {
  margin-top: 119px;
}
.main_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.main_navigation {
  display: flex;
  justify-content: center;
}
.main_link {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  transition: 0.5s;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.main_link:not(:last-child) {
  margin-right: 30px;
}
.main_link:hover {
  transform: scale(1.2);
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
}
.main_second--section {
  padding-bottom: 94px;
  display: flex;
  max-width: 1170px;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.main_second--section:not(:last-child) {
  margin-bottom: 30px;
}
.main_second--section .card {
  height: 404px;
  overflow: hidden;
  position: relative;
}
.main_second--section .card img {
  margin-bottom: 20px;
}
.main_second--section .card_title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.main_second--section .card_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 20px;
  color: #757575;
}
.main_second--section .card_text, .main_second--section .card_title {
  padding-left: 24px;
}
.main_second--section .card:hover .card_hover {
  transform: translateY(0);
  top: 0;
  height: 75%;
}
.main_second--section .card_hover {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transform: translateY(100%);
  transition: transform 0.5s ease;
}
.main_second--section .card_hover--text {
  font-family: Roboto;
  max-width: 340px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  padding: 63px 0px 63px 24px;
}
.main_second--section .card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
  transition: 0.5s;
}

@media screen and (max-width: 640px) {
  .main_navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin-bottom: 40px;
  }
  .main_navigation .main_link {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .main_second--section .card img {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .main_navigation {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer_section {
  background-color: #2f303a;
  margin-top: 94px;
}

.footer_container {
  display: flex;
  gap: 70px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 20px;
}
.footer_container img {
  margin-bottom: 20px;
}

footer address {
  display: flex;
  flex-direction: column;
}
footer .card_socials {
  justify-content: start;
}
footer .card_socials svg {
  cursor: pointer;
}
footer .card_socials svg g path {
  fill: #ffffff;
  transition: 0.5s;
}
footer .card_socials svg path {
  transition: 0.5s;
}
footer .card_socials svg:hover path {
  fill: #2196f3;
  transition: 0.5s;
}
footer .card_socials svg:hover g path {
  fill: white;
  transition: 0.5s;
}
footer .footer_address {
  margin-bottom: 9px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}
footer .footer_contact {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_contact:first-child {
  margin-bottom: 9px;
}
footer .footer_second--title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}
footer .footer_third--title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
  text-transform: uppercase;
}

.footer_right {
  display: flex;
  gap: 93px;
}

.footer_third--email--wrapper {
  display: flex;
  gap: 12px;
}
.footer_third input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1490196078);
}
.footer_third input::-moz-placeholder {
  padding-left: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer_third input::placeholder {
  padding-left: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer_third button {
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 0;
}

@media screen and (max-width: 1011px) {
  .footer_right {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 835px) {
  .footer_third--email--wrapper {
    flex-direction: column;
  }
  .footer_third--email--wrapper input {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .footer_container {
    flex-direction: column;
    gap: 35px;
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=portfolio.css.map */